.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 10px;
  grid-auto-rows: 100px;
  margin: auto;
  width:fit-content;
}
.card {
  display: flex;
  font-size: 48px;
  background-color: #eee;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}